.Rproj.user
.Rhistory
.RData
.Ruserdata

/results/Inversion
/results/20210104_Movie/noSeed_InversionVCF.vcf
/results/20210129_Movie/3384725_InversionVCF.vcf
/results/Origin/3384725_InversionVCF.vcf
/results/Origin/3384725_outputOriginInvQtn.txt
/figures/ManuscriptFigs/extras/manh_heatmaps_GenomicIslands.pdf
/figures/ManuscriptFigs/Supplementary/SFig2.pdf
/inversion_movie/

